{% extends "base.html" %}

{% block title %}
Product
{% endblock %}

{% block content %}

<div class="content">
<div class="container mt-4">
    
    <h2 class="mt-5">Retail</h2>
    <div class="row">
        
        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $10">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $1</h5>
                    <p class="card-text">Harga: Rp18.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $20">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $3</h5>
                    <p class="card-text">Harga: Rp54.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $50">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $4</h5>
                    <p class="card-text">Harga: Rp72.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $100">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $5</h5>
                    <p class="card-text">Harga: Rp90.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $200">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $6</h5>
                    <p class="card-text">Harga: Rp108.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $500">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $8</h5>
                    <p class="card-text">Harga: Rp144.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $1,000">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $10</h5>
                    <p class="card-text">Harga: Rp180.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $2,000">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $20</h5>
                    <p class="card-text">Harga: Rp350.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $5,000">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $25</h5>
                    <p class="card-text">Harga: Rp430.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $10,000">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $30</h5>
                    <p class="card-text">Harga: Rp510.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $10,000">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $40</h5>
                    <p class="card-text">Harga: Rp670.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/swc.jpg') }}" class="card-img-top" alt="Steam Wallet $10,000">
                <div class="card-body">
                    <h5 class="card-title">Steam Wallet $50</h5>
                    <p class="card-text">Harga: Rp860.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-5" style="border-top: 2px solid #ccc;">

    <h2 class="mt-5">Bundles</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/bundle1.jpg') }}" class="card-img-top" alt="Bundle 1">
                <div class="card-body">
                    <h5 class="card-title">GTA The Trilogy</h5>
                    <p class="card-text">Harga: Rp260.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/bundle2.jpg') }}" class="card-img-top" alt="Bundle 2">
                <div class="card-body">
                    <h5 class="card-title">The Witcher Trilogy</h5>
                    <p class="card-text">Harga: Rp75.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/bundle3.jpg') }}" class="card-img-top" alt="Bundle 3">
                <div class="card-body">
                    <h5 class="card-title">LEGO Batman Trilogy</h5>
                    <p class="card-text">Harga: Rp35.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/bundle4.jpg') }}" class="card-img-top" alt="Bundle 1">
                <div class="card-body">
                    <h5 class="card-title">Resident Evil Remake Trilogy</h5>
                    <p class="card-text">Harga: Rp610.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/bundle5.jpg') }}" class="card-img-top" alt="Bundle 2">
                <div class="card-body">
                    <h5 class="card-title">Resident Evil VII & VIII</h5>
                    <p class="card-text">Harga: Rp335.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/bundle6.jpg') }}" class="card-img-top" alt="Bundle 3">
                <div class="card-body">
                    <h5 class="card-title">Dying Light True Survivor</h5>
                    <p class="card-text">Harga: Rp365.000</p>
                    <a href="#" class="btn btn-buy w-100">Buy Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <a href="{{ url_for('sales') }}" class="nav-btn">Sales List</a>
    </div>

</div>
</div>

{% endblock %}
